<header xmlns:th="http://www.thymeleaf.org"	data-th-fragment="frag-entete">
	<nav>
		<span>
            <a href="/">
                <img src="/images/LogoEnchere.png" alt="Logo">
            </a>
        </span>
		<div>
			<a href="/">ENI Enchères</a>
		</div>
			<div id="navbarTogglerDemo02">
				<ul>
					<li><a aria-current="page" data-th-href="@{/}">Accueil</a></li>
					<li th:if="${#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/sales}">Ventes</a></li>
					<li th:if="${!#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/user/inscription}">Inscription</a></li>
					<li th:if="${#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/user/profile}">Profil</a></li>
					<li th:if="${!#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/login}">Connexion</a></li>
					<li th:if="${#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/logout}">Déconnexion</a></li>
				</ul>
			</div>
		</div>
	</nav>
</header>