<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
			data-th-fragment="layout-enchere(titrePage, contenuPage, ressourcesSupp)">
<head>
<meta charset="UTF-8">
<title data-th-replace="${titrePage}">Page title</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/main.css"/>
 
<th:block data-th-replace="${ressourcesSupp}"></th:block>
<link rel="icon" data-th-href="@{/images/logoEnchere-1.png}" />
<script src = "js/listecat.js"></script>
</head>
<body>

	<div data-th-replace="~{fragments/fragment-entete :: frag-entete}"></div>
	
	<main data-th-replace="${contenuPage}" >
		Page content
	</main>

	<div class="footer" data-th-replace="~{fragments/fragment-piedpage :: frag-piedpage}"></div>
	
</body>
</html>