
<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" data-th-href="@{/css/main.css}">
	<link rel="stylesheet" data-th-href="@{/css/error.css}">
	<title>ENI Enchères - Détail</title>
	<link rel="icon" data-th-href="@{/images/logoEnchere-1.png}" />

</head>
<body>
<header xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-entete">
	<nav>
        <span>
            <a href="/">
                <img src="/images/LogoEnchere.png" alt="Logo">
            </a>
        </span>
		<div>
			<a href="/">ENI Enchères</a>
		</div>
		<div id="navbarTogglerDemo02">
			<ul>
				<li><a aria-current="page" data-th-href="@{/}">Accueil</a></li>
				<li th:if="${#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/sales}">Ventes</a></li>
				<li th:if="${!#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/user/inscription}">Inscription</a></li>
				<li th:if="${#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/user/profile}">Profil</a></li>
				<li th:if="${!#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/login}">Connexion</a></li>
				<li th:if="${#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/logout}">Déconnexion</a></li>
			</ul>
		</div>
	</nav>
</header>
<main class="center-main">


	<form th:action="@{/sales/detail}" th:object="${soldArticleViewModel}" method="post">
		<h3><span data-th-text="*{soldArticles.nameArticle}"></span> vendu par <span data-th-text="*{seller.pseudo}"></span></h3>
		<a class="details-btn"
		   th:if="${soldArticleViewModel.seller.email != #authentication.name}"
		   th:href="@{/user/seller/{id}(id=*{seller.idUser})}">
			Profil de <span data-th-text="*{seller.pseudo}"></span>
		</a>
		<div class="form-container">
			<div class="form-group">
				<h5>Article : <span data-th-text="*{soldArticles.nameArticle}"></span></h5>
			</div>

			<div class="form-group">
				<h5>Description : <span data-th-text="*{soldArticles.description}"></span></h5>
			</div>

			<div class="form-group">
				<h5>Catégorie : <span data-th-text="*{category.categoryName}"></span></h5>
			</div>

			<div class="form-group">
				<h5>Prix de départ : <span data-th-text="*{soldArticles.initialPrice}"></span></h5>
			</div>

			<div class="form-group">
				<h5>Date de début : <span data-th-text="${#temporals.format(soldArticleViewModel.soldArticles.startDateAuctions, 'dd-MM-yyyy')}">2024-01-01</span></h5>
			</div>

			<div class="form-group">
				<h5>Date de fin : <span data-th-text="${#temporals.format(soldArticleViewModel.soldArticles.endDateAuctions, 'dd-MM-yyyy')}">2024-01-01</span></h5>
			</div>

			<div class="form-group">
				<h5>Lieu de retrait : <span data-th-text="*{pickUpLocation.road}"></span> <span data-th-text="*{pickUpLocation.zipPass}"></span> <span data-th-text="*{pickUpLocation.city}"></span></h5>
			</div>
		</div>

		<div class="form-group">
			<label for="imageArticle">Image</label>
			<img id="imageArticle" th:src="@{${soldArticleViewModel.soldArticles.picture != null ? '/images/uploads/' + soldArticleViewModel.soldArticles.picture : '/images/carton.jpg'}}"
				 th:alt="${soldArticleViewModel.soldArticles.picture}" class="img-detail">
		</div>
	</form>

	<form th:action="@{/sales/auctions}" method="post" th:object="${soldArticleViewModel}">
		<input type="hidden" th:field="*{soldArticles.idArticle}" />
		<div class="form-container">
			<input type="hidden" th:field="*{soldArticles.idArticle}"/>
			<div class="form-group">
				<h5>Prix de vente : <span data-th-text="*{soldArticles.initialPrice}"></span></h5>
			</div>
			<div class="form-group"  th:if="${soldArticleViewModel.soldArticles.startDateAuctions.isBefore(T(java.time.LocalDate).now())
               ||
               soldArticleViewModel.soldArticles.startDateAuctions.isEqual(T(java.time.LocalDate).now())}">
				<h5>Nouveaux prix : <span data-th-text="*{soldArticles.priceSale}"></span></h5>
			</div>

			<div class="form-group" th:if="${soldArticleViewModel.soldArticles.startDateAuctions.isBefore(T(java.time.LocalDate).now())
               ||
               soldArticleViewModel.soldArticles.startDateAuctions.isEqual(T(java.time.LocalDate).now())}">
				<label for="amountAuctions">Montant de l'enchère</label>
				<input id="amountAuctions" type="number" name="amountAuctions" th:value="*{soldArticles.initialPrice}" class="form-control" />
			</div>

			<div class="form-actions" th:if="${soldArticleViewModel.soldArticles.startDateAuctions.isBefore(T(java.time.LocalDate).now())
               ||
               soldArticleViewModel.soldArticles.startDateAuctions.isEqual(T(java.time.LocalDate).now())}">
				<button type="submit" class="btn btn-primary">Nouvelle Offre</button>
			</div>
		</div>
		<div class="form-actions">
			<a data-th-href="@{/}" class="btn btn-secondary">Retour</a>
		</div>
	</form>
</main>

<footer class="footer">
	<p>© 2024 ENI Enchères. Tous droits réservés.</p>
</footer>
</body>
</html>