
<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" data-th-href="@{/css/main.css}">
	<link rel="stylesheet" data-th-href="@{/css/error.css}">
	<title>ENI Enchères - Détail</title>
	<link rel="icon" data-th-href="@{/images/logoEnchere-1.png}" />

</head>
<body>
<header xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-entete">
	<nav>
        <span>
            <a href="/">
                <img src="/images/LogoEnchere.png" alt="Logo">
            </a>
        </span>
		<div>
			<a href="/">ENI Enchères</a>
		</div>
		<div id="navbarTogglerDemo02">
			<ul>
				<li><a aria-current="page" data-th-href="@{/}">Accueil</a></li>
				<li th:if="${#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/vente}">Ventes</a></li>
				<li th:if="${!#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/utilisateur/inscription}">Inscription</a></li>
				<li th:if="${#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/utilisateur/profil}">Profil</a></li>
				<li th:if="${!#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/login}">Connexion</a></li>
				<li th:if="${#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/logout}">Déconnexion</a></li>
			</ul>
		</div>
	</nav>
</header>
<main class="center-main">


	<form th:action="@{/vente/detail}" th:object="${articleVendu}" method="post">
		<h3>Détail de l'article <span data-th-text="*{nomArticle}"></span></h3>
		<div class="form-container">

			<div class="form-group">
				<h5>Article : <span data-th-text="*{nomArticle}"></span></h5>
			</div>

			<div class="form-group">
				<h5>Description : <span data-th-text="*{description}"></span></h5>
			</div>

			<div class="form-group">
				<h5>Catégorie : <span data-th-text="*{categorieArticle.libelle}"></span></h5>
			</div>

			<div class="form-group">
				<h5>Prix de départ : <span data-th-text="*{miseAPrix}"></span></h5>
			</div>

			<div class="form-group">
				<h5>Date de début : <span data-th-text="*{dateDebutEnchere}"></span></h5>
			</div>

			<div class="form-group">
				<h5>Date de fin : <span data-th-text="*{dateFinEnchere}"></span></h5>
			</div>

			<div class="form-group">
				<h5>Lieu de retrait : <span data-th-text="*{lieuRetrait.rue}"></span>, <span data-th-text="*{lieuRetrait.codePostal}"></span> <span data-th-text="*{lieuRetrait.ville}"></span></h5>
			</div>

		</div>
			<div class="form-group">
				<label for="image">Image</label>
				<img src="/images/carton.jpg" alt="Prévisualisation de l'image" class="resized-image">
			</div>
		</div>
		</div>
	</form>

	<form th:action="@{/vente/enchere}" method="post" th:object="${articleVendu}">
		<div class="form-container">
			<input type="hidden" th:field="*{noArticle}" />
			<div class="form-group">
				<h5>Prix de vente : <span data-th-text="*{prixVente}"></span></h5>
			</div>
			<div class="form-group">
				<h5>Nouveaux prix : <span data-th-text="*{miseAPrix}"></span></h5>
			</div>

			<div class="form-group">
				<label for="montantEnchere">Montant de l'enchère</label>
				<input type="number" name="montantEnchere" th:value="*{miseAPrix}" class="form-control" />
			</div>

			<div class="form-actions">
				<button type="submit" class="btn btn-primary">Nouvelle Offre</button>
			</div>
		</div>
	</form>
</main>

<footer class="footer">
	<p>© 2024 ENI Enchères. Tous droits réservés.</p>
</footer>
</body>
</html>