
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" data-th-href="@{/css/main.css}">
<link rel="stylesheet" data-th-href="@{/css/error.css}">
<title>ENI Enchères - Détail</title>
<link rel="icon" data-th-href="@{/images/logoEnchere.png}" />

</head>
<body>

	<section>

		<div>
			<form th:action="@{/vente/detail}" th:object="${articleVendu}">

			 <button type="button" aria-label="Close" onclick="window.location.href = '/';"></button>

				<div >
					<div >
						<h2 >Détail de la vente</h2>


						<div>
							<label for="article">Article</label>
							<input readonly="readonly" type="text" data-th-field="*{nomArticle}" />
						</div>


						<div>
							<label for="description">Description</label>
							<input readonly="readonly" type="text" data-th-field="*{description}" />
						</div>

						<div>
							<label for="description">Catégorie</label>
							<input readonly="readonly" type="text" data-th-field="*{categorieArticle.libelle}" />
						</div>

						<div>
							<label for="miseAPrix">Prix de départ</label>
							<input readonly="readonly" type="text" data-th-field="*{miseAPrix}" />
						</div>

						<div>
							<label for="dateDebut">Date de début </label>
							<input readonly="readonly" type="text" data-th-field="*{dateDebutEnchere}" />
						</div>

						<div>
							<label  for="dateFin">Date de fin</label>
							<input readonly="readonly"  data-th-field="*{dateFinEnchere}" />
						</div>

						<div>
							<label for="image">Image</label>
							<img  data-th-src="@{/images/carton.jpg}">
						</div>

						<h2 >Lieu de retrait</h2>

						<div>
							<label for="rue">rue</label>
							<input readonly="readonly" type="text" data-th-field="*{lieuRetrait.rue}" />
						</div>

						<div>
							<label  for="codePostal">Code Postal</label>
							<input readonly="readonly" type="text" data-th-field="*{lieuRetrait.codePostal}" />
						</div>

						<div>
							<label for="ville">Ville</label>
							<input readonly="readonly" type="text" data-th-field="*{lieuRetrait.ville}" />
						</div>

					</div>

				</div>
			</form>

			<form th:action="@{/vente/enchere}" method="post" th:object="${articleVendu}">
											<div >
					<div >
						<input type="hidden" th:field="*{noArticle}">

				<div>
					<label for="miseAPrix">Enchère</label>
					<input type="number" name="montantEnchere" th:value="*{miseAPrix}" />
				</div>

				<div>
					<label for="montantEnchere">Nouveau prix</label>
					<input readonly="readonly" type="text" data-th-field="*{miseAPrix}"/>
				</div>

				<div>
					<button type="submit">--Nouvelle offre--</button>
				</div>
				</div>
				</div>
			</form>

			</div>
	</section>

</body>
</html>