<!DOCTYPE html>
<html html xmlns="http://www.thymeleaf.org" data-th-replace="~{fragments/layout :: layout-auctions(titrePage= ~{:: title},
																							contenuPage= ~{:: .center-main},
																							ressourcesSupp= ~{})}">

<head>
	<title>ENI Enchères</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
<main class="center-main">
	<h3>Liste des Enchères</h3>

	<div class="search-container">
		<form action="/search" method="get" class="search-form">
			<div class="search-wrapper">
				<input type="text" name="searchArticleName" class="form-control search-input" placeholder="Saisir votre recherche...">
				<button class="btn btn-primary search-button">Recherche</button>
			</div>
		</form>
	</div>

	<select id="listeCat">
		<option value="0">Catégorie : </option>
		<option data-th-each="category : ${listCategory}" th:value="${category.idCategory}" th:text="${category.categoryName}"></option>
	</select>

	<div class="article-list">

		<div class="article-card" data-th-each="item : ${soldArticlesViewModel}">
			<div class="rounded-likes">
				<span data-th-text="*{item.soldArticles.initialPrice}">0</span> €
				<p>👌</p>
			</div>

			<h4 data-th-text="*{item.soldArticles.nameArticle}">Nom de l'article</h4>

			<div class="article-image">
				<img data-th-src="@{/images/carton.jpg}" alt="Image de l'article">
			</div>

			<div class="article-details">
				<p class="article-details-h4" data-th-text="*{item.soldArticles.description}">Description</p>
				<div class="article-card-detail">
					<p><strong>Catégorie :</strong> <span data-th-text="*{item.category.categoryName}">Catégorie</span></p>
					<p><strong>Date de fin :</strong> <span data-th-text="*{item.soldArticles.endDateAuctions}">2024-01-01</span></p>
					<p><strong>Vendeur :</strong> <span data-th-text="*{item.seller.pseudo}">Pseudo</span></p>
				</div>
			</div>

			<div class="article-actions">
				<a class="details-btn" th:if="${#authorization.expression('isAuthenticated()')}"
				   data-th-href="@{/sales/detail(id=${item.soldArticles.idArticle})}">
					Détail de la vente
				</a>
			</div>
		</div>
		</div>
		</div>
	</div>

</main>
</body>
</html>

