<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" data-th-href="@{/css/main.css}">
    <link rel="stylesheet" data-th-href="@{/css/error.css}">
    <title>ENI Enchères - Incription</title>
    <link rel="icon" data-th-href="@{/images/logoEnchere.png}" />
</head>
<body>

    <section>
    	<form th:action="@{/utilisateur/inscription}" method="post" th:object="${utilisateur}">
	        <div>

	                                <div>
	                                    <h2 >Inscription</h2>
	                                    <p >Veuillez entrer vos informations !</p>
	                                    <div data-th-replace="~{fragments/fragment-errors :: frag-errors}"></div>
	
	
	                                <div>
	                                    <label for="pseudo">Pseudo</label>
	                                   	<div data-th-replace="~{fragments/fragment-error :: frag-error('pseudo')}"></div>
	                                    <input type="text"data-th-field="*{pseudo}"/>
	                                </div>
	                                
	                                <div>
	                                    <label for="nom">Nom</label>
	                                    <div data-th-replace="~{fragments/fragment-error :: frag-error('nom')}"></div>
	                                    <input type="text" data-th-field="*{nom}"/>
	                                </div>
	                                
	                                <div>
	                                    <label  for="prenom">Prenom</label>
	                                  	<div data-th-replace="~{fragments/fragment-error :: frag-error('prenom')}"></div>
	                                 	<input type="text"  data-th-field="*{prenom}"/>
	                                </div>
	                                
	                                <div >
	                                    <label for="email">Email</label>
	                                    <div data-th-replace="~{fragments/fragment-error :: frag-error('email')}"></div>
	                                    <input type="text"  data-th-field="*{email}"/>
	                                </div>
	                                
	                                <div >
	                                    <label  for="telephone">Téléphone</label>
	                                    <input type="text"  data-th-field="*{telephone}"/>
	                                </div>
	                                
	                                <div>
	                                    <label  for="rue">Rue</label>
	                                    <input type="text"  data-th-field="*{rue}"/>
	                                </div>
	                                
	                                <div >
	                                    <label for="codePostal">Code Postal</label>
	                                    <input type="text"  data-th-field="*{codePostal}"/>
	                                </div>
	                                
	                                <div >
	                                    <label  for="ville">Ville</label>
	                                    <input type="text"  data-th-field="*{ville}"/>
	                                </div>
	                                
	                                <div class="col-12 col-md-6">
	                                    <label class="form-label" for="motDePasse">Mot de Passe</label>
	                                  	<div data-th-replace="~{fragments/fragment-error :: frag-error('motDePasse')}"></div>
	                                    <input type="password" class="form-control form-control-lg" data-th-field="*{motDePasse}"/>
	                                </div>
	                                
	                                <div>
	                                    <label for="confirmMdP">Confirmation du mot de passe</label>
	                                  	<div data-th-replace="~{fragments/fragment-error :: frag-error('motDePasse')}"></div>
	                                    <input type="password" id="confirmMdP"  name="confirmMdP"/>
	                                </div>
	                                
	                                
	
	                                <div >
	                                    <div >
	                                        <button  type="submit">Valider</button>
	                                    </div>
	                                    <div >
	                                        <a data-th-href="@{/}">Annuler</a>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>

	        </div>
        </form>
    </section>    

</body>
</html>