<!DOCTYPE html >
<html xmlns="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>ENI Enchères - Connexion</title>
	<link rel="icon" data-th-href="@{/images/logoEnchere.png}" />
    <link rel="stylesheet" data-th-href="@{/css/main.css}">
    <link rel="stylesheet" data-th-href="@{/css/error.css}">
</head>
<body>
    
    

    <form th:action="@{/login}" method="post">
    
    <section>
        <div>

                  <button type="button" aria-label="Close" onclick="window.location.href = '/';"></button>
                
                  <div>
                  

      
                    <h2 >Connexion</h2>
                    
                    <div  th:if="${param.error}">Mauvais email ou mot de passe</div>
                    <div th:if="${param.logout}">Vous êtes déconnecté</div>
                    
                    
                    <p >Veuillez entrer votre identifiant et votre mot de passe !</p>
      
                    <div>
                      <input type="email" id="idUsername"  name="username"/>
                      <label >Email</label>
                    </div>
      
                    <div >
                      <input type="password" id="idPassword"  name="password"/>
                      <label >Mot de passe</label>
                    </div>
                          <p ><a class="text-white-50" href="#!">Mot de passe oublié ?</a></p>

                    
                    <input type="checkbox">
                    <p ><a href="#!">Se souvenir de moi ?</a></p>

      
                    <button  type="submit">Connexion</button>
      
                    <div >
                      <a href="#!" ><i></i></a>
                      <a href="#!" ><i ></i></a>
                      <a href="#!" ><i ></i></a>
                    </div>
      
                  </div>
      
                  <div>
                    <p>Vous n'avez pas de compte ? <a data-th-href="@{/utilisateur/inscription}">S'inscrire</a>
                    </p>
                  </div>
      
                </div>

      </section>
    </form>
    
      
      
      

</body>
</html>