<!DOCTYPE html>
	<html lang="en" xmlns:th="http://www.thymeleaf.org">
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" data-th-href="@{/css/main.css}">
			<link rel="stylesheet" data-th-href="@{/css/error.css}">
			<title>ENI Enchères - Profil</title>
			<link rel="icon" data-th-href="@{/images/LogoEnchere-1.png}" />
		</head>
		<body>
		<header xmlns:th="http://www.thymeleaf.org" data-th-fragment="frag-entete">
			<nav>
				<span>
					<a href="/">
						<img src="/images/LogoEnchere2.png" alt="Logo">
					</a>
				</span>
				<div>
					<a href="/">ENI Enchères</a>
				</div>
				<div id="navbarTogglerDemo02">
					<ul>
						<li><a aria-current="page" data-th-href="@{/}">Accueil</a></li>
						<li th:if="${#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/sales}">Ventes</a></li>
						<li th:if="${!#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/user/inscription}">Inscription</a></li>
						<li th:if="${#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/user/profile}">Profil</a></li>
						<li th:if="${!#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/login}">Connexion</a></li>
						<li th:if="${#authorization.expression('isAuthenticated()')}"><a data-th-href="@{/logout}">Déconnexion</a></li>
					</ul>
				</div>
			</nav>
		</header>

		<main class="center-main">
			<div th:object="${user}">
				<h3>Profil de <span data-th-text="*{pseudo}"></span></h3>
				<div class="article-info-profil">
					<p><strong>Nom :</strong> <span data-th-text="*{lastName}"></span></p>
					<p><strong>Prénom :</strong> <span data-th-text="*{firstName}"></span></p>
					<p><strong>Email :</strong> <span data-th-text="*{email}"></span></p>
					<p><strong>Téléphone :</strong> <span data-th-text="*{phone}"></span></p>
					<p th:unless="${isSeller}"><strong>Crédits disponibles : </strong><span data-th-text="*{credit}"></span></p>
					<p><strong>Adresse :</strong></p>
					<p>
						<span data-th-text="*{road}"></span>,
						<span data-th-text="*{zipPass}"></span>,
						<span data-th-text="*{city}"></span>
					</p>
					<img src="/images/avatar.png" id="pictureProfil" class="img-detail">
				</div>
				<div class="form-actions" >
					<a class="btn btn-primary"  th:unless="${isSeller}" data-th-href="@{/user/update}">Modifier mon profil</a>
					<a class="btn btn-alert" th:unless="${isSeller}"  data-th-href="@{/user/delete}">Supprimer mon compte</a>
					<a data-th-href="@{/}" class="btn btn-secondary">Retour</a>
				</div>
			</div>
		</main>
		<footer class="footer">
			<p>© 2024 ENI Enchères. Tous droits réservés.</p>
		</footer>
	</body>
</html>