<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" data-th-href="@{/css/main.css}">
	<link rel="stylesheet" data-th-href="@{/css/error.css}">
	<title>ENI Enchères - Profil</title>
	<link rel="icon" data-th-href="@{/images/logoEnchere.png}" />
</head>
<body>


	<section>
		<div th:object="${utilisateur}">
			<div>
			   <button type="button" aria-label="Close" onclick="window.location.href = '/';"></button>

				<div >
					<div >
						<h2 >Votre profil</h2>

						<div style="margin-bottom: 3%;">
							<label  for="typePseudoX">Pseudo</label>
							<div data-th-replace="~{fragments/fragment-error :: frag-error('pseudo')}"></div>
							<input readonly="readonly" type="text" id="typePseudoX" data-th-field="*{pseudo}" />
						</div>

						<div >
							<label for="typeFirstNameX">Nom</label>
							<div data-th-replace="~{fragments/fragment-error :: frag-error('nom')}"></div>
							<input readonly="readonly" type="text" id="typeFirstNameX" data-th-field="*{nom}" />
						</div>

						<div>
							<label for="typeNameX">Prénom</label>
							<div data-th-replace="~{fragments/fragment-error :: frag-error('prenom')}"></div>
							<input readonly="readonly" type="text" id="typeNameX" data-th-field="*{prenom}" />
						</div>

						<div>
							<label for="typeEmailX">Email</label>
							<div data-th-replace="~{fragments/fragment-error :: frag-error('email')}"></div>
							<input readonly="readonly" type="text" id="typeEmailX" data-th-field="*{email}" />
						</div>

						<div>
							<label for="typePhoneX">Telephone</label>
							<input readonly="readonly" type="text" id="typePhoneX" data-th-field="*{telephone}" />
						</div>

						<div style="margin-bottom: 3%;">
							<label for="typeStreetNumberX">Rue</label> <input readonly="readonly" type="text" id="typeStreetNumberX" class="form-control form-control-lg" data-th-field="*{rue}" />
						</div>

						<div style="margin-bottom: 3%;">
							<label for="typePostalCodeX">Code Postal</label>
							<input readonly="readonly" type="text" id="typePostalCodeX" data-th-field="*{codePostal}" />
						</div>

						<div >
							<label for="typeCityX">Ville</label>
							<input readonly="readonly" type="text" id="typeCityX" data-th-field="*{ville}" />
						</div>

						<div >
							<div style="padding-bottom: 1em; padding-left: 3em;">
								<a  data-th-href="@{/utilisateur/update}">Mise à jour du profil</a>
							</div>
							<div >
								<a  data-th-href="@{/utilisateur/delete}">Supprimer le profil</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</section>

</body>
</html>