<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" data-th-href="@{/css/main.css}">
	<link rel="stylesheet" data-th-href="@{/css/error.css}">
	<title>ENI Enchères - Mise à jour profil</title>
	<link rel="icon" data-th-href="@{/images/logoEnchere.png}" />
</head>
<body>

	<section>
		<form th:action="@{/utilisateur/profil}" method="post" th:object="${utilisateur}">
			<!-- <div th:object="${utilisateur}"> -->
			<div>

				<h2>Mise à jour de votre profil</h2>
				<div data-th-replace="~{fragments/fragment-errors :: frag-errors}"></div>


				<input type="hidden" data-th-field="*{noUtilisateur}" />
				<div>
					<label>Pseudo</label>
					<input type="text" id="typePseudoX" readonly="readonly" data-th-field="*{pseudo}" />
				</div>

				<div >
					<label >Nom</label>
					<div data-th-replace="~{fragments/fragment-error :: frag-error('nom')}"></div>
					<input type="text" id="typeFirstNameX" data-th-field="*{nom}" />
				</div>

				<div >
					<label >Prénom</label>
					<div data-th-replace="~{fragments/fragment-error :: frag-error('prenom')}"></div>
					<input type="text" id="typeNameX"  data-th-field="*{prenom}" />
				</div>

				<div >
					<label  for="typeEmailX">Email</label>
					<input type="text" id="typeEmailX" readonly="readonly" data-th-field="*{email}" />
				</div>

				<div >
					<label  for="typePhoneX">Téléphone</label>
					<input type="text" id="typePhoneX"  data-th-field="*{telephone}" />
				</div>

				<div >
					<label for="typeStreetNumberX">Rue</label> <input type="text" id="typeStreetNumberX" data-th-field="*{rue}" />
				</div>

				<div >
					<label for="typePostalCodeX">Code Postal</label>
					<input type="text" id="typePostalCodeX" data-th-field="*{codePostal}" />
				</div>

				<div >
					<label for="typeCityX">Ville</label>
					<input type="text" id="typeCityX" data-th-field="*{ville}" />
				</div>

				<div >
					<label  for="typeCityX">Entrez votre mot de passe pour confirmer</label>
					<div data-th-replace="~{fragments/fragment-error :: frag-error('prenom')}"></div>
					<input type="password"  data-th-field="*{motDePasse}" />
				</div>

				<div >
					<div >
						<button >Sauvegarder</button>
					</div>
					<div >
						<a  data-th-href="@{/}">Annuler</a>
					</div>
				</div>

			</div>
		</form>
	</section>

</body>
</html>