<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" data-th-href="@{/css/main.css}">
    <link rel="stylesheet" data-th-href="@{/css/error.css}">
    <title>ENI Enchère - Mise en vente</title>
    <link rel="icon" data-th-href="@{/images/logoEnchere.png}" />

</head>
<body>

    <section>
    	<form th:action="@{/vente}" method="post" th:object="${articleVendu}">
	        <div>

				<h2>Nouvelle vente</h2>


			<div>
				<label for="article">Nom de l'article</label>

				<input type="text" name="nomArticle" />
			</div>

			<div>
				<label for="description">Description</label>

				<input type="text" name="description" />
			</div>

			<div>
			<label for="description">Catégorie</label>
			<select id = "listeCat" name="categorieArticle.noCategorie">
				<option value = "0">Votre choix : </option>
				<option data-th-each="categorie : ${listeCategorie}" th:value="${categorie.noCategorie}" th:text="${categorie.libelle}"  ></option>
			</select>
			</div>

			<div>
				<label for="miseAPrix">Prix de vente de départ</label>

				<input type="number" name="miseAPrix"/>
			</div>

			<div >
				<label  for="dateDebut">Date de début </label>

				<input type="date" name="dateDebutEnchere" />

			</div>

			<div >
				<label  for="dateFin">Date de fin</label>

				<input type="date" name="dateFinEnchere"/>
			</div>

			<div>
				<label for="image">Image</label>
				<img data-th-src="@{/images/carton.jpg}">
			</div>


			<h2 >Lieu de retrait</h2>



			<div >
				<label  for="rue">Rue</label>
				<input type="text" name="lieuRetrait.rue"/>
			</div>

			<div >
				<label  for="codePostal">Code Postal</label>
				<input type="number" name="lieuRetrait.codePostal"/>
			</div>

			<div >
				<label  for="ville">Ville</label>
				<input type="text" name="lieuRetrait.ville"/>
			</div>



			<div >
				<div >
					<button  type="submit">Valider</button>
				</div>
				<div >
					<a  data-th-href="@{/}">Annuler</a>
				</div>
			</div>
		</div>

        </form>
    </section> 
   <!--    
<script>
console.log("toto")
	document.getElementById("listeCat").addEventListener("change", function(){
		console.log("titi")
	var value = document.getElementById("listeCat").value;
	if (value != 0 ){
		window.location.href="/categorie?id="+value;
	}
})
</script>
-->   
</body>
</html>